@import url('./global.css');

@import url('./pages/home.css');

@import url('./components/layout.css');
@import url('./components/header.css');

@import url('./components/projects/wizard.css');
@import url('./components/projects/project-detail.css');
@import url('./components/projects/project-edit.css');
@import url('./components/projects/project-card.css');